<!DOCTYPE html>
<html>
    <head>
        <title>Listas no ordenadas</title>
    </head>
    <h1>Universidad de Managua // Alvaro Torres</h1>
    <body>
    <hl> {{encabezado}} </hl>
    <p>Esto es otro texto</p>
    {%block contenido%}
    {%endblock%}
   
    <p>Mis PasaTiempos</p>
    <ul>
                <li>ver Animesr</li>
                <li>oir Musicas</li>
                <li>conocer lugares</li>
                <li>ver en linea guias de juegos Xbox One</li>
            </ul>
    </body>
</html>
